## Import Dependencies

In [1]:
import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.engine.url import URL
import requests


### Extract CSV file into Dataframe

In [6]:
# Relationship Data file

relationship_data = "../Project-2/relationship_data_file.csv"
relationship_data_df = pd.read_csv(relationship_data)
relationship_data_df.head(15)
# relationship_data_df.count()
# relationship_data_df.dtypes

C:\Users\mendi\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (48,103) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,CaseID,CASEID_NEW,qflag,weight1,weight1_freqwt,weight2,weight1a,weight1a_freqwt,weight_combo,...,hcm2017q24_met_through_family,hcm2017q24_met_through_friend,hcm2017q24_met_through_as_nghbrs,hcm2017q24_met_as_through_cowork,w6_subject_race,interracial_5cat,partner_mother_yrsed,subject_mother_yrsed,partner_yrsed,subject_yrsed
0,0,2,2014039,Qualified,NaN,NaN,0.8945,NaN,NaN,0.277188,...,no,no,no,no,White,no,12.0,14.0,12.0,14.0
1,1,3,2019003,Qualified,0.9078,71115.0,NaN,0.9026,70707.0,1.020621,...,no,no,no,yes,White,no,12.0,16.0,17.0,17.0
2,2,5,2145527,Qualified,0.7205,56442.0,NaN,0.7164,56121.0,0.810074,...,no,no,no,no,White,no,9.0,7.5,14.0,17.0
3,3,6,2648857,Qualified,1.2597,98682.0,1.3507,1.2524,98110.0,0.418556,...,no,no,no,no,White,no,16.0,12.0,12.0,12.0
4,4,7,2623465,Qualified,0.8686,68044.0,NaN,0.8636,67652.0,0.976522,...,no,no,yes,no,White,no,14.0,17.0,16.0,16.0
5,5,9,2917189,Qualified,0.8815,69054.0,1.8263,0.8765,68663.0,0.565935,...,no,no,no,no,White,no,12.0,12.0,16.0,12.0
6,6,10,2919423,Qualified,0.8381,65655.0,NaN,0.8333,65279.0,0.942260,...,no,yes,no,no,White,no,12.0,7.5,13.0,12.0
7,7,11,2936569,Qualified,0.7752,60727.0,NaN,0.7708,60383.0,0.871587,...,no,no,no,no,White,no,12.0,12.0,20.0,14.0
8,8,12,1840651,Not Qualified,NaN,NaN,NaN,0.9731,76230.0,1.100340,...,NaN,NaN,NaN,NaN,White,NaN,NaN,NaN,NaN,16.0
9,9,13,1840371,Qualified,1.0973,85960.0,NaN,1.0910,85466.0,1.233656,...,yes,no,no,no,Other (please specify),no,0.0,5.5,12.0,12.0
10,10,14,2089701,Qualified,0.8716,68279.0,NaN,0.8666,67887.0,0.979914,...,no,no,no,yes,White,no,12.0,16.0,16.0,16.0
11,11,15,1939669,Qualified,1.2145,95141.0,NaN,1.2075,94593.0,1.365389,...,NaN,NaN,NaN,NaN,White,no,13.0,12.0,14.0,14.0
12,12,16,645963,Qualified,0.9694,75940.0,NaN,0.9638,75502.0,1.089824,...,no,no,no,no,White,no,13.0,17.0,16.0,16.0
13,13,17,729415,Qualified,1.2698,99473.0,NaN,1.2625,98901.0,1.427581,...,no,no,no,no,White,no,NaN,12.0,13.0,12.0
14,14,18,2710813,Qualified,0.9109,71358.0,NaN,0.9057,70950.0,1.024127,...,yes,yes,no,no,White,yes,16.0,16.0,17.0,20.0

### Transform Dataframes

In [10]:
# Create a filtered dataframe from specific columns for relationship data, noted data from different versions of surveys.
# Based on analysis of data it appears data with column prefix w6_ is most relevant

relationship_data_cols = ["CASEID_NEW", 
                          "w6_q21a_year", 
                          "w6_relationship_end_nonmar", 
                          "w6_breakup_nonmar", 
                          "w6_relationship_end_mar", 
                          "w6_who_breakup",
                          "ppagecat",
                          "ppagect4",
                          "ppmarit",
                          "w6_q19",
                          "w6_q20",
                          "w6_q21a_month",
                          "w6_q21b_month",
                          "w6_q21c_month",
                          "w6_q21d_month", 
                          "w6_q21e_month",
                          "w6_q21f_month",
                          "partnership_status",
                          "w6_relationship_quality",
                          "ppage",
                          "w6_q9",
                          "w6_q17",
                          "w6_q21b_year",
                          "w6_q21c_year",
                          "w6_q21d_year",
                          "w6_q21e_year",
                          "w6_q21f_year",
                          "year_fraction_met",
                          "year_fraction_relstart",
                          "age_when_met",
                          "time_from_met_to_rel",
                          "year_fraction_first_cohab",
                          "time_from_rel_to_cohab"]                        
relat_data_transformed = relationship_data_df[relationship_data_cols].copy()



# Clean the data by dropping duplicates and setting the index
# premise_transformed.drop_duplicates("id", inplace=True)
relat_data_transformed.set_index("CASEID_NEW", inplace=True)

relat_data_transformed.head()

,w6_q21a_year,w6_relationship_end_nonmar,w6_breakup_nonmar,w6_relationship_end_mar,w6_who_breakup,ppagecat,ppagect4,ppmarit,w6_q19,w6_q20,...,w6_q21c_year,w6_q21d_year,w6_q21e_year,w6_q21f_year,year_fraction_met,year_fraction_relstart,age_when_met,time_from_met_to_rel,year_fraction_first_cohab,time_from_rel_to_cohab
CASEID_NEW,,,,,,,,,,,,,,,,,,,,,
2014039,2017.0,We broke up,I wanted to break up more,NaN,NaN,25-34,30-44,Divorced,NaN,No,...,NaN,NaN,2017.0,NaN,2017.2084,2017.2084,30.0,0.000000,NaN,NaN
2019003,1983.0,NaN,NaN,NaN,NaN,55-64,45-59,Married,Yes,NaN,...,1996.0,1996.0,NaN,NaN,1983.3750,1995.6250,21.0,12.250000,1996.1250,0.500000
2145527,2006.0,NaN,NaN,NaN,NaN,45-54,45-59,Married,Yes,NaN,...,2006.0,2008.0,NaN,NaN,2006.0416,2006.4584,36.0,0.416748,2006.5416,0.083252
2648857,2012.0,We broke up,[Partner Name] wanted to break up more,NaN,NaN,25-34,18-29,Never married,NaN,No,...,NaN,NaN,2013.0,NaN,2012.2084,2013.2916,23.0,1.083252,NaN,NaN
2623465,1983.0,NaN,NaN,NaN,NaN,55-64,45-59,Married,Yes,NaN,...,1984.0,1984.0,NaN,NaN,1983.7084,1983.7916,25.0,0.083252,1984.6250,0.833374

## Analytics

## Create database connection

In [13]:
# Need to add password to access the database


db_url = {
   'database': 'relationship_data_db',
   'drivername': 'mysql',
   'username': 'root',
   'password': '1Lovemykid$',
   'host': '127.0.0.1',
   'query': {'charset': 'utf8'},  # the key-point setting
}

engine = create_engine(URL(**db_url), encoding='utf8')

In [14]:
relat_data_transformed.to_sql(name='relationship_data', con=engine, if_exists='append', index=True)